:root{
  /* General Colors */
  --primary-black-color: #222326;
  --second-black-color: #414346;
  --third-black-color: #2d3034;
  --fourth-black-color: #393e45;
  /* Border Colors */
  --primary-border-black-color: #27292d;
  --primary-border-gray-color: #36393c;
  /* Text Color */
  --primary-text-color: #bebfc1;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top_header {
  background-color: var(--primary-black-color);
  height: 45px;
  border-bottom: 1px solid var(--second-black-color);
}

.navbar-default{
  background: none;
  border: 0;
}

.navbar-nav>li>a {
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #ccc;
}

.main_header{
  height: 235px;
  background-color: var(--third-black-color);
}

.container{
  margin: 0;
  padding:0;
  width: 100%;
}

.logo{
  height: 130px;
}

.logo img{
  height: 100px;
  width: auto;
  margin-top: 15px;
}

.main_nav_border{
  border-top: 2px solid var(--primary-border-black-color);
  border-left: 2px solid var(--primary-border-black-color);
  border-right: 2px solid var(--primary-border-black-color);
}

.main_nav{
  height: 45px;
  border-top: 1px solid var(--primary-border-gray-color);
}

.main_nav .nav>li>a:focus, .main_nav .nav>li>a:hover {
  background: var(--fourth-black-color);
}

.main_nav .navbar-nav>li>a {
  color: var(--primary-text-color);
}